
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   
}


.general-footer {
    position: fixed;
    background: #212529;
    text-align: center;
    color: white;
    display: block;
    height: 40px;
    width:100vw;
    z-index:100;
    font-size: small;
    bottom: 0;
    padding: 10px;

}

.general-routes {
    position: relative;
    display: block;
    width: 100vw;
    margin-bottom: 90px;
    

}
