
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   
}


/* .general-header {
    
    position: relative;
    display: block;
    height: 70px;
    width:100vw;
    z-index: 100px;

}    */

.general-footer {
    /* position: fixed; */
    background: #212529;
    text-align: center;
    color: white;
    display: block;
    height: 120px;
    width:100vw;
    z-index:100;
    bottom: 0;
    padding: 5;
}

.general-routes {
    position: relative;
    display: block;
    width: 100vw;
    

}
