.search-input {
    width: 50%;
    padding: 8px 10px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    color: #212529;
    background-color: transparent;
    border-radius: 50px;
    border: 2px solid #212529;
    margin: 10px;
    background-image: url(https://img.icons8.com/ios-filled/50/000000/search--v1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 95%;
    background-size: 15px;
  
    
  }

  
  .search-input2 {
    
    padding: 8px 10px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    color: #212529;
    background-color: transparent;
    border-radius: 50px;
    border: 2px solid #212529;
    margin: 10px;
  }
  